<h1>Listado de alumnos</h1>
<ul>
    <li *ngFor="let item of students; 
    let i = index; 
    let first=first; 
    let last=last;
    let par=even;
    let impar=odd"
    [ngClass]="{par:par,impar:impar}">
    {{i+1}} - {{ item }} 
</li>
</ul>

<h3 *ngIf="approved.length>0; else malo">Aprobados</h3>
<ng-template #malo>
    <h3>Qué malo eres, no has aprobado todavía a nadie</h3>
</ng-template>

<ul>
    <li *ngFor="let item of approved;">{{ item }}</li>
</ul>

<button (click)="approve()">Aprobar</button>

